<!DOCTYPE html>
<html class="light" lang="en" th:fragment="parent(content, title)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">SCM</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="h-screen w-full bg-gray-200 dark:bg-gray-900 dark:text-white">

    <!-- COMMON HEADER -->

    <!-- if user is logged in then we have to show this thing -->
    <div th:if="${user}">
        <div data-th-replace="~{user/user_navbar::user-navbar}"></div>
    </div>
    <!-- when user is not logged in then we have to show this one -->
    <div data-th-unless="${user}">
        <div data-th-replace="~{navbar::navbar}"></div>
    </div>


    <!-- SIDE-BAR -->

    <!-- if user is not logged in then show this one  -->

    <div data-th-unless="${user}">

    </div>


    <!-- main content -->
    <div class="p-4">
        <section th:replace="${content}"></section>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
</body>

</html>